body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.range-container {
  min-width: 300px;
  max-width: 300px;
  padding: 20px 20px 30px;
}

.circle-container {
  border: 1px solid black;
  min-height: 200px;
}

/* .svg-circle-container, */
.svg-circle {
  transition: transform 1s ease-in;
}

.svg-circle {
  fill: rgba(0, 0, 0, 0.1);
}